@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper">
    <h1 class="title">Velkommen til ExamPlan</h1>
    <p class="subtitle">Håndtering af eksamensplanlægning hos Zealand</p>

    <div class="grid">
       
        <div class="box">
            <h2>Medarbejdere & Hold</h2>
            <p>Administrer medarbejdere og hold.</p>

            <div class="buttons">
                <a class="btn" href="/CreateEmployee">Opret / Se medarbejdere</a>
                <a class="btn-secondary" href="/">opret / se hold</a>
            </div>
        </div>

      
        <div class="box">
            <h2>Eksamener</h2>
            <p>Overblik og booking af eksamener.</p>

            <div class="buttons">
                <a class="btn" href="/">Book mig til eksamen</a>
                <a class="btn-secondary" href="/">Mine eksamener</a>
            </div>
        </div>
    </div>
</div>

